<div ng-controller="EditCompetitionController as ctrl" ng-init="init(<%= edit_competition_init(@competition) %>)">
  <h1>Edit: {{competition.name}}</h1>

  <p>Please enter mailchimp API details.</p>

  <form name="mailchimp-form">
    <p>
      <label for="mailchimp_api_key">Mailchimp Api Key</label>
      <br />
      <input id="mailchimp_api_key" name="mailchimp_api_key" ng-model="competition.mailchimp_api_key">
    </p>

    <p>
      <label for="mailchimp_datacenter">Mailchimp DataCenter</label>
      <br />
      <input id="mailchimp_datacenter" name="mailchimp_datacenter" ng-model="competition.mailchimp_datacenter">
    </p>

    <p>
      <label for="mailchimp_list_id">Mailchimp List</label>
      <br />
      <div ng-show="competition.mailchimp_api_key && competition.mailchimp_datacenter && lists">
        <select ng-options="item.id as item.name for item in lists" ng-model="competition.mailchimp_list_id"></select>
      </div>

      <div ng-show="competition.mailchimp_api_key && competition.mailchimp_datacenter && !lists && !invalidCredentials">
        Loading lists...
      </div>

      <div class="field_with_errors" ng-show="competition.mailchimp_api_key && competition.mailchimp_datacenter && invalidCredentials">
        Error. Seems that you've provided invalid credentials. Please try again.
      </div>

      <div ng-hide="competition.mailchimp_api_key && competition.mailchimp_datacenter">
        Please enter Api Key and Datacenter first
      </div>
    </p>

    <input type="submit" ng-click="submit()" value="Save">
  </form>
</div>
