<div ng-controller="EntrantController as ctrl" ng-init="init(<%= entrant_init(@entry) %>)">
  <h1>{{competition.name}}</h1>

  <div ng-if="!entry.completed">
    <p>Enter your details to win!</p>

    <form name="entry-form">
      <div id="error_explanation" ng-if="errors">
        Sorry, ther was a problem saving your entry:
        <ul>
          <li ng-repeat="(field, errors) in errors">
            {{field}}:
            <span ng-repeat="error in errors">{{error}}</span>
          </li>
        </ul>
      </div>

      <p ng-if="competition.requires_entry_name">
        <label for="name">Name</label>
        <input id="name" name="name" ng-model="entry.name">
      </p>

      <p>
        <label for="email">E-mail</label>
        <input id="email" name="email" ng-model="entry.email">
      </p>

      <input type="submit" ng-click="submit()" value="Enter!">
    </form>
  </div>
  <div ng-if="entry.completed">
    <p>Thank you for entering our competition!</p>
  </div>
</div>
